.logo {
  width: 90px;
  height: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 3px 1px #d3d3d3;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
}
.card {
  width: 217px;
  /* border: 1px solid #b8b1b1; */
  padding: 10px;
  box-shadow: 0px 0px 1px 0px #b8b1b1;
  margin: 10px;
}
.card > img {
  width: 100%;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
